<link href="/javascripts/ext-2.2.1/resources/css/ext-all.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" />
<% unless @current_user.theme.nil? %>
  <link id="theme" href="/javascripts/ext-2.2.1/resources/css/<%= h @current_user.theme %>.css" media="screen" rel="stylesheet" type="text/css" />
<% end %>
<%= stylesheet_link_tag "form.css" %>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/jquery.js'%>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/ext-jquery-adapter.js'%>
<%= javascript_include_tag 'ext-2.2.1/ext-all.js'%>
<%= javascript_include_tag 'ExtListPage.js' %>
<div id="list-view">
  <form style="margin: 10px 0px;" id="search_form">

    <p>综合查询：</p>
    <%= index_select_class  %>
    <div style="margin: 10px 0px;"><label for="search_gender">性别</label>
      <select name="search_gender" id="search_gender">
        <option value="">请选择性别...</option>
        <option value="m">男</option>
        <option value="f">女</option>
      </select>
      <label for="search_polity">政治面貌</label>
      <select name="search_polity" id="search_polity">
        <option value="">请选择政治面貌...</option>
        <option value="0">群众</option>
        <option value="1">共青团员</option>
        <option value="2">中共党员</option>
      </select>
      <label for="state_city">生源地</label>
      <%= state_and_city_select :search, :state, :city, {:state => {:include_blank => '请选择省'}, :city => {:include_blank => '请选择城市'}}  %>
    </div>
    <div style="margin: 10px 0px;"><label>民族</label>
      <%= select_nation  %>
      <label>报到情况</label>
      <select name="search_proce" id="search_proce">
        <option value="">全部...</option>
        <option value="true">已报到</option>
        <option value="false">未报到</option>
      </select>
      <label>已复查学生缴费情况</label>
      <select name="search_fee" id="search_fee">
        <option value="">全部...</option>
        <option value="0">已缴费(非绿色通道)</option>
        <option value="1">已缴费(律色通道)</option>
        <option value="2">未缴费</option>
      </select>
    </div>
    <div style="margin: 10px 0px;">
      <label for="search_number">考生号</label>
      <input type="text" value="" name="search_number" id="search_number" size="15"/>
      <label for="search_name">姓名</label>
      <input type="text" value="" name="search_name" id="search_name" size="15"/>

      <input class="button" type="button" id="btnSearch" value="搜索"/>
      <input value="重置"class="btnreset" type="reset" />
      <input value="刷新 " onclick="window.location.reload()" class="btnrefresh" type="button"  />
    </div>
  </form>
  <div>
    <div class="nav">
      <span><%= link_to "导出已报到学生名单", :action => 'export_confirm_true'  %></span> | <span><%= link_to "导出未缴费学生名单", :action => 'export_no_fee'  %></span> | <span><%= link_to "导出绿色通道学生名单", :action => 'export_green_path'  %></span> | <span><%= link_to "导出未报到学生名单", :action => 'export_no_signup'  %></span>
    </div>
        <div class="nav">
      <span><%= link_to "教务处注册学生名单", :action => 'export_signup_true'  %></span> | <span><%= link_to "请假学生名单", :action => 'export_abersent'  %></span>
    </div>
    <div id="grid-wrap">
    </div>
  </div>
</div>
<script>
  var departments = <%= Major.get_department_name %>
  var getDepartmentName = function(value){
    return departments[value]
  }
  var majors = <%= Major.to_json%>
  var getMajorName = function(value){
    return majors[value]
  }
  var classes = <%= InfoClass.to_json%>
  var getClassName = function(value){
    return classes[value]
  }
  var genderFormat = function(value, p, record){
    return value.toString()=="m" ? "男" : "女"
  }
  var signupFormat = function(value, p, record){
    return value.toString()=="true" ? "已报到" : "未报到"
  }
  Ext.onReady(function(){
    var columns = [{
        header: "序号",
        dataIndex: 'id',
        width: 40,
        sortable: true,
        type: "int",
        resizable: false
      }, {
        header: "学号",
        dataIndex: 'stu_number',
        sortable: true,
        hidden: true
      }, {
        header: "考生号",
        dataIndex: 'can_number',
        width: 130,
        sortable: true
      }, {
        header: "姓名",
        dataIndex: 'name',
        sortable: true
      }, {
        header: "高考成绩",
        dataIndex: 'h_score',
        sortable: true,
        hidden: true
      }, {
        header: "投档成绩",
        dataIndex: 'r_score',
        sortable: true,
        hidden: true
      }, {
        header: "政治面貌",
        dataIndex: 'polity',
        sortable: true,
        hidden: true
      }, {
        header: "专业方向",
        dataIndex: 'direction',
        sortable: true,
        hidden: true
      }, {
        header: "身份证号",
        dataIndex: 'id_number',
        sortable: true,
        hidden: true
      }, {
        header: "中学代码",
        dataIndex: 'school_code',
        sortable: true,
        hidden: true
      }, {
        header: "中学名称",
        dataIndex: 'school_name',
        sortable: true,
        hidden: true
      }, {
        header: "学制",
        dataIndex: 'edu_length',
        sortable: true,
        hidden: true
      }, {
        header: "邮政编码",
        dataIndex: 'post_co',
        sortable: true,
        hidden: true
      }, {
        header: "联系地址",
        dataIndex: 'address',
        sortable: true,
        hidden: true
      }, {
        header: "生源地－省",
        dataIndex: 'state',
        sortable: true,
        hidden: true
      }, {
        header: "生源地－市",
        dataIndex: 'city',
        sortable: true,
        hidden: true
      }, {
        header: "性别",
        dataIndex: 'gender',
        sortable: true,
        renderer: genderFormat
      }, {
        header: "院系",
        dataIndex: 'major_id',
        sortable: true,
        renderer: getDepartmentName
      }, {
        header: "专业",
        dataIndex: 'major_id',
        sortable: true,
        renderer: getMajorName
      }, {
        header: "班级",
        dataIndex: 'info_class_id',
        sortable: true,
        renderer: getClassName
      }, {
        header: "报到情况",
        dataIndex: 'confirm',
        sortable: true,
        renderer: signupFormat
      }]
    var controllerName = "complexes";
    options = {
      baseUrl: "http://" + window.location.host + "/" + controllerName,
      gridTitle: "综合查询",
      newItemLink: "newItem",
      columns: columns,
      disableOprateColumn: true
    }
    $page = new ExtListPage(options);
  })
</script>
