<%= f.error_messages %>

<p>
  <%= f.label :can_number, "考生号" %>
  <%= f.text_field :can_number, :class => "required" %>
</p>

<p>
  <%= f.label :exa_number, "准考证号" %>
  <%= f.text_field :exa_number %>
</p>

<%= select_class(@student.major_id, @student.info_class_id)  %>

<p>
  <%= f.label :stu_number, "学号" %>
  <%= f.text_field :stu_number %>
</p>

<p>
  <%= f.label :name, "姓名" %>
  <%= f.text_field :name %>
</p>

<p>
  <label>政治面貌</label>
  <label for="polity"><%= f.radio_button :polity, "群众" %>群众</label>
  <label for="polity"><%= f.radio_button :polity, "共青团员" %>共青团员</label>
  <label for="polity"><%= f.radio_button :polity, "中共党员" %>中共党员</label>
</p>

<p>
  <label>性别</label>
  <label for="gender"><%= f.radio_button :gender, "m" %>男</label>
  <label for="gender"><%= f.radio_button :gender, "f" %>女</label>
</p>

<p>
  <%= f.label :direction, "教育方向" %>
  <%= f.text_field :direction %>
</p>

<p>
  <%= f.label :id_number, "身份证" %>
  <%= f.text_field :id_number, :class => "required" %>
</p>

<p>
  <%= f.label :nation, "民族" %>
  <%= f.text_field :nation  %>
</p>

<p>
  <%= f.label :birthday, "出生边月" %>
  <%= f.date_select :birthday, {:start_year => 1985, :end_year => 2000, :order => [:year, :month, :day],:use_month_numbers => true}, {:style => "width:80px"} %>
</p>

<p>
  <%= f.label :entrance_date, "入学时间" %>
  <%= f.date_select :entrance_date, {:start_year => 2009, :end_year => 2010, :order => [:year, :month, :day],:use_month_numbers => true}, { :style => "width:80px"} %>
</p>

<p>
  <%= f.label :school_code, "中学代码" %>
  <%= f.text_field :school_code %>
</p>

<p>
  <%= f.label :school_name, "中学名称" %>
  <%= f.text_field :school_name %>
</p>

<p>
  <%= f.label :edu_length, "学制" %>
  <%= f.text_field :edu_length  %>
</p>

<p>
  <%= f.label :post_code, "邮政编码" %>
  <%= f.text_field :post_code  %>
</p>


<p>
  <%= f.label :address, "联系地址" %>
  <%= f.text_field :address %>
</p>

<p>
  <label for="state_city">生源地</label>
  <%= state_and_city_select :student, :state, :city, {:state => {:include_blank => '请选择省'}, :city => {:include_blank => '请选择城市'}}  %>
</p>