<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>按专业批量分班</title>
    <%= stylesheet_link_tag "form.css" %>
    <%= javascript_include_tag 'ext-2.2.1/adapter/jquery/jquery.js'%>
    <%= javascript_include_tag 'ext-2.2.1/adapter/jquery/ext-jquery-adapter.js'%>
    <%= javascript_include_tag 'ext-2.2.1/ext-all.js'%>
    <style>
      option{
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <% form_tag('/students/dispatch') do %>
      <fieldset>
        <legend>批量分班</legend>
        <%= select_major "major_id"  %>
        <p class="bbar">
          <input class="submit" type="submit" onclick="return check()" value="批量分班" />
        </p>
      </fieldset>
    <% end %>
    <script>
      function check(){
        if(document.getElementById("select_department_id").value == ''){
          alert("未选择院系");
          return false;
        }
        if(document.getElementById("select_major_id").value == ''){
          alert("未选择专业");
          return false;
        }

        return true;
      }
    </script>
  </body>
</html>