<%= f.error_messages %>
<p>
  <label for="stu">姓名:</label>
  <label for="name"><%=h @step2.student.name %></label>
</p>
<p>
  <label for="dep">专业:</label>
  <label for="name">
    <%=h @step2.student.department.name if @step2.student.department %>
    <%=h @step2.student.major.name if @step2.student.major %>
  </label>
</p>
<p>
  <label for="info_cla">班级:</label>
  <label for="name"><%=h @step2.student.info_class.name if @step2.student.info_class %></label>
</p>
<p>
  <label>缴费:</label>
  <label for="check"><%= f.radio_button :step2, true  %>通过</label>
  <label for="check"><%= f.radio_button :step2, false %>未通过</label>
</p>