<link href="/javascripts/ext-2.2.1/resources/css/ext-all.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" />
<% unless @current_user.theme.nil? %>
  <link id="theme" href="/javascripts/ext-2.2.1/resources/css/<%= h @current_user.theme %>.css" media="screen" rel="stylesheet" type="text/css" />
<% end %>
<%= stylesheet_link_tag "form.css" %>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/jquery.js'%>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/ext-jquery-adapter.js'%>
<%= javascript_include_tag 'ext-2.2.1/ext-all.js'%>
<%= javascript_include_tag 'ExtListPage.js' %>
<%= javascript_include_tag 'jquery-validate/lib/jquery.form.js' %>
<%= javascript_include_tag 'jquery-validate/jquery.validate.js' %>
<%= javascript_include_tag 'jquery-validate/localization/messages_cn.js' %>
<%= javascript_include_tag 'AjaxForm.js' %>
<div id="list-view">
  <form style="margin: 10px 0px;" id="search_form">
    <%= index_select_class  %>
    <div style="margin: 10px 0px;"><label for="search_name">姓名</label>
    <input type="text" value="" name="search_name" id="search_name" size="15"/>
    <label for="search_can_number">考生号</label>
    <input type="text" value="" name="search_can_number" id="search_can_number" size="15"/>
    <input class="button" type="button" id="btnSearch" value="搜索"/>
    <input value="重置"class="btnreset" type="reset" />
    <input value="刷新 " onclick="window.location.reload()" class="btnrefresh" type="button"  />
    </div>
  </form>
  <div>
    <div id="grid-wrap">
    </div>
  </div>
</div>
<script>
  var students = <%= Student.to_json %>
  var getStudentName = function(value){
    return students[value]
  }
  var nums = <%= Student.get_can_num %>
  var getCanNum = function(value){
    return nums[value]
  }
  var fees = <%= FeeStd.to_json %>
  var getMajorFee = function(value){
    return fees[value]
  }

  var makeAsPassLink = function(value, p, record){
    var text = value.toString()=="true" ? "<div class='grid-text-true'>已缴纳</div>" : "<div class='grid-text-false'>未缴纳</div>";
    return String.format("<a href='#' action ='pass' title='Pass' class='gridButton' url='/step2s/pass/{0}'>{1}</a>",record.data.id,text);
  }

  var bind_pass_link_click = function(alink){
    var url = alink.getAttribute("url");
    Ext.get(alink).on("click",function(){
      Ext.Ajax.request({
        url: url,
        success: function(rq,params){
          if(rq.responseText=="true"){
            $page.refreshGridData();
          }else{
            Ext.MessageBox.show({msg:"更新隐藏/显示状态失败",buttons: Ext.MessageBox.OK,icon:Ext.MessageBox.ERROR});
          }
        },
        failure: function(){
          Ext.MessageBox.show({msg:"该生还未进行入学资格复查，操作失败！",buttons: Ext.MessageBox.OK,icon:Ext.MessageBox.WARNING});
        }
      });
    })
  }
  Ext.onReady(function(){
    var columns = [{
        header: "序号",
        dataIndex: 'id',
        width: 40,
        sortable: true,
        type: "int",
        resizable: false
      }, {
        header: "考生号",
        dataIndex: 'student_id',
        sortable: true,
        width: 150,
        renderer: getCanNum
      }, {
        header: "姓名",
        dataIndex: 'student_id',
        sortable: true,
        renderer: getStudentName
      }, {
        header: "应缴费用",
        dataIndex: 'major_id',
        sortable: true,
        renderer: getMajorFee
      }, {
        header: "缴费情况",
        dataIndex: 'step2',
        type: 'boolean',
        sortable: true,
        renderer: makeAsPassLink
      }, {
        header: "通过时间",
        dataIndex: 'step2_date',
        sortable: true,
        width: 160
      }]
    var controllerName = "step2s";
    options = {
      baseUrl: "http://" + window.location.host + "/" + controllerName,
      gridTitle: "费用缴纳管理列表",
      newItemLink: "newItem",
      disableDestroyButton: true,
      columns: columns,
      bindlinks: {
        "pass" : bind_pass_link_click
      }
    }
    $page = new ExtListPage(options);
  })
</script>
