<%= f.error_messages %>
<p>
  <%= f.label :f1, "报名号" %>
  <%= f.text_field :f1, :class => "required" %>
</p>

<p>
  <%= f.label :f2, "应收金额" %>
  <%= f.text_field :f2, :class => "required" %>
</p>

<p>
  <%= f.label :f3, "减免金额" %>
  <%= f.text_field :f3 %>
</p>

<p>
  <%= f.label :f4, "实际收金额" %>
  <%= f.text_field :f4 %>
</p>