<fieldset>
  <legend>查看[<%= @step3.student.name %>的军训费用缴纳</legend>
    <p>
    <b>姓名:</b>
    <%=h @step3.student.name %>
  </p>
      <p>
    <b>专业:</b>
    <%=h @step3.student.department.name if @step3.student.department %>
    <%=h @step3.student.major.name if @step3.student.major%>
  </p>
  <p>
    <b>是否完成:</b>
    <%=h proc_format(@step3.step3) %>
  </p>
  <p>
    <b>完成时间:</b>
    <%=h fuzzy_time(@step3.step3_date) if @step3.step3_date%>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>