<%= f.error_messages %>
<p>
  <%= f.label :index, "序号" %>
  <%= f.text_field :index, :class => "required number" %>
</p>
<p>
  <%= f.label :name, "名称" %>
  <%= f.text_field :name, :class => "required" %>
</p>
<p>
  <label>类型</label>
  <label for="de_type"><%= f.radio_button :de_type, true  %>面向学生</label>
  <label for="de_type"><%= f.radio_button :de_type, false  %>面向全部</label>
</p>