<%= f.error_messages %>
<p>
  <%= f.label :department_id, "院系" %>
  <%= f.select :department_id, Department.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择院系..." }, :class => "required" %>
</p>
<p>
  <%= f.label :name, "专业名称" %>
  <%= f.text_field :name, :class => "required" %>
</p>
<p>
  <label>校区</label>
  <label for="campus"><%= f.radio_button :campus, "高新校区"  %>高新校区</label>
  <label for="campus"><%= f.radio_button :campus, "花源校区"  %>花源校区</label>
</p>