<%= f.error_messages %>
<p>
  <%= f.label :building_id, "宿舍大楼" %>
  <%= f.select :building_id, Building.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择宿舍大楼..." }, :class => "required" %>
</p>
<p>
  <%= f.label :name, "宿舍号" %>
  <%= f.text_field :name, :class => "required" %>
</p>
<p>
  <%= f.label :phone, "电话" %>
  <%= f.text_field :phone, :class => "required" %>
</p>
<p>
  <label>宿舍类型</label>
  <label for="beds"><%= f.radio_button :room_type, "0", :class => "required" %>男生宿舍</label>
  <label for="beds"><%= f.radio_button :room_type, "1", :class => "required" %>女生宿舍</label>
</p>
<p>
  <label>床位数量</label>
  <label for="beds"><%= f.radio_button :beds, "4"  %>4人间</label>
  <label for="beds"><%= f.radio_button :beds, "6"  %>6人间</label>
</p>