<%= f.error_messages %>
<p>
  <label for="stu">姓名:</label>
  <label for="name"><%=h @step6.student.name %></label>
</p>
<p>
  <label for="dep">专业:</label>
  <label for="name">
    <%=h @step6.student.department.name if @step6.student.department %>
    <%=h @step6.student.major.name if @step6.student.major %>
  </label>
</p>
<p>
  <label for="info_cla">班级:</label>
  <label for="name"><%=h @step6.student.info_class.name if @step6.student.info_class %></label>
</p>
<p>
  <label>购买日用品:</label>
  <label for="check"><%= f.radio_button :pass, true  %>购买</label>
  <label for="check"><%= f.radio_button :pass, false %>未购买</label>
</p>