<%= f.error_messages %>
<p>
  <label for="stu">姓名:</label>
  <label for="name"><%=h @step5.student.name %></label>
</p>
<p>
  <label for="dep">专业:</label>
  <label for="name">
    <%=h @step5.student.department.name if @step5.student.department %>
    <%=h @step5.student.major.name if @step5.student.major %>
  </label>
</p>
<p>
  <label for="info_cla">班级:</label>
  <label for="name"><%=h @step5.student.info_class.name if @step5.student.info_class %></label>
</p>
<p>
  <label>入学报到注册:</label>
  <label for="check"><%= f.radio_button :pass, true  %>注册</label>
  <label for="check"><%= f.radio_button :pass, false %>未注册</label>
</p>