<fieldset>
  <legend>查看[<%= @step5.student.name %>入学报到注册情况</legend>
    <p>
    <b>姓名:</b>
    <%=h @step5.student.name %>
  </p>
      <p>
    <b>专业:</b>
    <%=h @step5.student.department.name if @step5.student.department %>
    <%=h @step5.student.major.name if @step5.student.major%>
  </p>
  <p>
    <b>是否完成:</b>
    <%=h proc_format(@step5.step5) %>
  </p>
  <p>
    <b>完成时间:</b>
    <%=h fuzzy_time(@step5.step5_date) if @step5.step5_date%>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>