<h1>Editing proce</h1>

<% form_for(@proce) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :student %><br />
    <%= f.text_field :student %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @proce %> |
<%= link_to 'Back', proces_path %>