<fieldset>
  <legend>查看[<%= @step4.student.name %>的保险办理情况</legend>
    <p>
    <b>姓名:</b>
    <%=h @step4.student.name %>
  </p>
      <p>
    <b>专业:</b>
    <%=h @step4.student.department.name if @step4.student.department %>
    <%=h @step4.student.major.name if @step4.student.major%>
  </p>
  <p>
    <b>是否完成:</b>
    <%=h proc_format(@step4.step4) %>
  </p>
  <p>
    <b>完成时间:</b>
    <%=h fuzzy_time(@step4.step4_date) if @step4.step4_date%>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>