<link href="/javascripts/ext-2.2.1/resources/css/ext-all.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" />
<% unless @current_user.theme.nil? %>
  <link id="theme" href="/javascripts/ext-2.2.1/resources/css/<%= h @current_user.theme %>.css" media="screen" rel="stylesheet" type="text/css" />
<% end %>
<%= stylesheet_link_tag "form.css" %>
<div id="list-view">
  <form style="margin: 10px 0px;" id="search_form">
    <label for="search_department_id">院系:</label>
    <% list_departments %>
    <select style="margin:0px;padding:0px;float:none;" id="search_department_id" name="search_department_id">
      <% @options.each do |option| %>
        <option value="<%= option[1] %>"><%= option[0] %></option>
      <% end %>
    </select>
    <input class="button" type="button" id="btnSearch" value="搜索"/>
    <input value="重置" class="btnreset" type="reset" />
    <input value="刷新" onclick="window.location.reload()" class="btnrefresh" type="button"  />
  </form>
  <div>
    <div class="nav">
      <span class="button" id="newItem"><img  src="/images/icons/new.png"/><%= link_to "导出未报到学生列表", :action => 'export_all'  %></span>
    </div>
    <div id="grid-wrap">
    </div>
  </div>
</div>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/jquery.js'%>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/ext-jquery-adapter.js'%>
<%= javascript_include_tag 'ext-2.2.1/ext-all.js'%>
<%= javascript_include_tag 'ExtListPage.js' %>
<script>
  var majors = <%= Major.to_json %>
  var getMajorName = function(value){
    return majors[value]
  }

  var makeAsExportLink = function(value, p, record){
    var data = record.data;
    return String.format("<a href='/stats/export?major_id={0}'  title='导出' target='_blank' >导出</a>", data.major_id);
  }

  var bind_export_link_click = function(alink){
    var url = alink.getAttribute("url");
    var major_id = alink.getAttribute("major_id");
    Ext.get(alink).on("click",function(){
      Ext.Ajax.request({
        url: url,
        params: {major_id: major_id},
        success: function(rq,params){ //rq:请求的响应，params请求时的参数（此处为｛url,success,failure｝)
          if(rq.responseText=="true"){
            $page.refreshGridData();
          }else{
            Ext.MessageBox.show({msg:"导出失败",buttons: Ext.MessageBox.OK,icon:Ext.MessageBox.ERROR});
          }
        },
        failure: function(){
          Ext.MessageBox.show({msg:"导出d失败",buttons: Ext.MessageBox.OK,icon:Ext.MessageBox.WARNING});
        }
      });
    })
  }

  Ext.onReady(function(){
    var columns = [{
        header: "专业名称",
        dataIndex: 'major_id',
        width: 150,
        renderer: getMajorName
      }, {
        header: "录取人数",
        dataIndex: 'ar_count'
      }, {
        header: "实际报到人数",
        dataIndex: 'ov_count'
      }, {
        header: "报到率",
        dataIndex: 'percent'
      },{
        header: "导出未报到学生列表",
        dataIndex: 'major_id',
        width: 150,
        sortable: false,
        renderer: makeAsExportLink
      }]
    var controllerName = "stats";
    options = {
      baseUrl: "http://" + window.location.host + "/" + controllerName,
      gridTitle: "报到率汇总列表",
      newItemLink: "newItem",
      columns: columns,
      disableOprateColumn: true,
      bindlinks: {
        "export": bind_export_link_click
      }
    }
    $page = new ExtListPage(options);
  })
</script>
